[submodule "endpoint/arduino/LCD_I2C"]
	path = endpoint/arduino/LCD_I2C
	url = git@github.com:highvelcty/LCD_I2C.git
[submodule "endpoint/arduino/u8g2"]
	path = endpoint/arduino/u8g2
	url = git@github.com:highvelcty/u8g2.git
[submodule "firmware/u8g2"]
	path = firmware/u8g2
	url = git@github.com:highvelcty/u8g2.git
