# Compiled python
*.pyc

# Build, distribution, virtual environment
build/
dist/
venv/
*.egg-info/

# Debian build artifacts
pkg/deb/debian/growbies/
pkg/deb/debian/tmp/
pkg/deb/debian/*.debhelper
pkg/deb/debian/*.substvars
pkg/deb/debian/files
pkg/growbies_*

# testing coverage
.coverage
.coverage.*
htmlcov/
output/*
!output/.gitkeep
# IDE
.idea
