Source: growbies
Section: utils
Priority: optional
Maintainer: Eric Meyer <ericallenmeyer@gmail.com>
Build-Depends: debhelper (>=13), debhelper-compat (=13), python3.11, python3.11-venv
Standards-Version: 4.0.0
Homepage: https://growbies.net

Package: growbies
Architecture: all
Depends: python3.11, python3.11-venv, postgresql
Description:Communication gateway for the growbies platform.
 This package is installed as a systemd service.
