[Unit]
Description=Configure Growbies
Requires=postgresql.service
After=postgresql.service

[Service]
# This must be done as a service because root is required to perform the database administrative
# tasks
Type=oneshot
ExecStart=/usr/bin/growbies db init

[Install]
WantedBy=multi-user.target