[Unit]
Description=Growbies Gateway Service
After=network.target

[Service]
ExecStart=/usr/bin/growbies service start
ExecStop=/usr/bin/growbies service stop
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target
