#!/usr/bin/make -f

.PHONY: export_paths

include ${PATHS_ENV}

build:
	echo "emey emey emey: ${PATHS_ENV}"
#	./${PATH_DEBIAN_BUILD_SH}

clean:
	dh_clean

install:
#	./${PATH_DEBIAN_INSTALL_SH}

%:
	dh "$@"

