#!/usr/bin/make -f

# Todo: Source the growbies paths.env file for sharing path definitions.
# This will dump the paths from the package into a form that can be used by Makefile
# and then source the output, sharing the path definitions.
git_root := $(shell git rev-parse --show-toplevel)
$(shell PYTHONPATH="${git_root}" python3 -m build_lib.export_paths || false)
include ${git_root}/build/paths.env

build:
	PATH_REPO_ROOT="${PATH_REPO_ROOT}" ./debian/build.sh

clean:
	dh_clean

install:
	PATH_REPO_ROOT="${PATH_REPO_ROOT}" ./debian/install.sh

%:
	dh "$@"
